{% extends 'paginas/padrao.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}
    <title>Diagrama de caso de uso</title>
    {% endblock %}

</head>

<body>
    {% block menu %}
    <h4 class="white">Diagrama de caso de uso</h4>
    {% endblock %}
    <div class="col-lg-2">
        {% block lateral %}
        <a href="/"><button type="button" class="btn btn-outline-secondary">Voltar</button></a>
        {% endblock %}
    </div>

    <div class="col-lg">
        {% block conteudo%} 
        <img src="{% static 'img/Diagrama de Caso de Uso.png' %}" width="500" >

        <h5>
            No diagrama acima mostra os tipos de usuarios e suas acoes. O administrador possui o
             maior numero de acoes, herdando dos usuarios acima e o Usuario padrao, no caso, o usuario 
             que nao possui conta no site podendo apenas visualizar os produtos e obviamente, realizar 
             um Cadastro.<p></p>
             Ja o usuario Cadastrado pode alem de visualizar, gerenciar sua conta cadastrada e efetuar a
             compra do produto, entretando tendo com intermediador o Funcionario que ira validar a compra.<p></p>
            
             O administrador, pode efetuar qualquer acao acima, bem como cadastrar novos funcionarios e produtos,
             alem de visualizar e ter controle da movimentacao dos mesmos.
        </h5>
       {% endblock%} 


    </div>

</body>

</html>