{% extends 'paginas/padrao.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}
    <title>Diagrama de Classe</title>
    {% endblock %}

</head>

<body>
    {% block menu %}
    <h4 class="white">Diagrama de classe </h4>
    {% endblock %}
    <div class="col-lg-2">
        {% block lateral %}
        <a href="/"><button type="button" class="btn btn-outline-secondary">Voltar</button></a>
        {% endblock %}
    </div>

    <div class="col-lg">
        {% block conteudo%} 
        <img src="{% static 'img/Diagrama em classe.png' %}" width="500" >

        <h5>

            As classes Usuario e funcionario herdaram os atributos da classe generica Pessoa, porem a classe
            Funcionario possuira atributos a mais condizentes a sua colocacao. Ainda nessa parte, a classe tipo
            sera utilizada para diferenciar o usuario do funcionario e do administrador.<p></p>

            A classe categoria servira para diferenciar os produtos e facilitar a divisao dentro do site. A classe
            produto servira para cadastrar os produtos associada a categoria ja explicada antes.
            
            A classe venda guardara os dados da venda incluindo o usuario e o funcionario que validou a compra.
            os Produtos da compra serao setados na classe itensVenda que guardara o id da respectiva venda.
        </h5>
       {% endblock%} 
    </div>
</body>

</html>