{% extends 'paginas/padrao.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}
    <title>Excluir Registros</title>
    {% endblock %}

</head>

<body>
    {% block menu %}
    <h4 class="white">Cadastro</h4>
    {% endblock %}
    <div class="col-lg-2">
        {% block lateral %}
        <a href="/"><button type="button" class="btn btn-outline-secondary">Voltar</button></a>
        {% endblock %}
    </div>

    <div class="col-lg">
        {% block conteudo%} 
        <p>Confirme a exclusao</p>
        <hr>

        <form method="post">
            <p>Deseja exluir o registro: <b>{{ object }}</b> ?</p>
            <hr>
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-outline-danger">
                    Excluir
            </button>
        </form>



       {% endblock%} 


    </div>

</body>

</html>